{% load static %}
<nav>
    <a href="{% url 'index' %}" class="link">
        <div class="logo" class="center">
            <div id="logo-lottie" style="width: 40px; height: 40px;"></div>
            <span class="logo-title">SyncRao</span>
        </div>
    </a>

    <script>
        const logoAnimation = lottie.loadAnimation({
            container: document.getElementById('logo-lottie'),
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: "{% static 'lottie/logo.json' %}"
        });
        logoAnimation.setSpeed(3);
    </script>


    <div class="hamburger" id="hamburger" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="nav-links" id="navLinks">
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="center"> <i class="fas fa-sign-out-alt"></i>Logout {{user.username}}</a>
        {% else %}
        <a href="{% url 'login' %}" class="center">
            <i class="fas fa-sign-in-alt"></i> Login
        </a>
        <a href="{% url 'register' %}" class="center">
            <i class="fas fa-user-plus"></i> Register
        </a>
        {% endif %}
    </div>
</nav>

<script>
    const navLinks = document.getElementById("navLinks");
    const hamburger = document.getElementById("hamburger");

    function toggleMenu() {
        navLinks.classList.toggle("active");
        hamburger.classList.toggle("active");
    }

    document.querySelectorAll(".nav-links a").forEach(link => {
        link.addEventListener("click", () => {
            navLinks.classList.remove("active");
            hamburger.classList.remove("active");
        });
    });

    window.addEventListener("scroll", () => {
        navLinks.classList.remove("active");
        hamburger.classList.remove("active");
    });
</script>